{{!--
This footer template is shared across all the pages.
--}}

<footer class="m-footer">
  <div class="m-footer__content">
    <nav class="m-footer-social">
      {{#if @site.facebook}}
        <a href="{{facebook_url @site.facebook}}" target="_blank" rel="noopener" aria-label="Facebook">
          <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-facebook"></use>
          </svg>
        </a>
      {{/if}}
      {{#if @site.twitter}}
        <a href="{{twitter_url @site.twitter}}" target="_blank" rel="noopener" aria-label="Twitter">
          <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-twitter"></use>
          </svg>
        </a>
      {{/if}}
      <a href="{{@site.url}}/rss" aria-label="RSS">
        <svg class="icon" aria-hidden="true">
          <use xlink:href="#icon-logo-rss"></use>
        </svg>
      </a>
    </nav>
    <p class="m-footer-copyright">
      <span>{{@site.title}} &copy; {{date format="YYYY"}}</span>
      <span>&nbsp; &bull; &nbsp;</span>
      <span>{{t "Published with"}} <a href="https://ghost.org" target="_blank" rel="noopener">Ghost</a></span>
    </p>
    <p class="m-footer-copyright jslicense">
      <a href="https://beian.miit.gov.cn" rel="noopener" target="_blank" id="recordId">粤ICP备18139752号</a>
    </p>
  </div>
</footer>
